.sidebar-custom {
    width: 250px !important;
    position: fixed !important;
    height: 100% !important;
    overflow-y: auto !important;
    border: none !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2), 0 0px 10px rgba(0,0,0,0.24) !important;
    z-index: 9999 !important;
}

.sidebar-custom .logo-div {
    width: 250px;
    height: 248px;
    background-color: rgb(92, 42, 193);
}

.sidebar-custom .logo-div img {
    width: 245px;
}

.padding-top-remove {
    padding-top: 0 !important;
}

.avatar-btn {
    padding: 24px 16px !important;
}

.avatar-btn .avatar-div {
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    border-radius: 20px;
    overflow: hidden;
}

.avatar-btn .avatar-div img {
    width: 40px;
    height: 40px;
}

.avatar-btn .user-info-div {
    margin: 0 0 0 18px !important;
}

.avatar-btn .user-info-div .user-name {
    font-size: 14px;
    font-weight: 700;
}

.avatar-btn .user-info-div .user-email {
    font-size: 12px;
    color: grey;
}

.sidebar-href-div >div[role=button] >div >svg {
    fill: #7b39ff !important;
    color: #7b39ff !important;
}

.svg-color-custom {
    padding-bottom: 0 !important;
}

.svg-color-custom span {
    color: black !important;
}

.svg-color-custom .MuiListItemText-primary {
    font-size: 14px;
}

.sidebar-href-div .sidebar-href-svg-custom {
    display: flex;
    align-items: center;
    height: 32px;;
}