body {
    font-family: 'Roboto Regular', arial !important;
    /* font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif !important; */
}

.content-open {
    margin-left: 250px !important;
}

.content-close {
    margin-left: 0 !important;
}

.header-title-custom {
    margin-left: 12px !important;
}

.main-div-custom {
    margin-top: 50px;
    padding: 16px !important;
}


@media only screen and (max-width: 600px) {
    .main-div-custom {
        padding: 32px 0 !important;
    }

    .btn-add-lead-custom {
        margin-left: 210px !important;
    }

    .content-custom {
        text-align: center !important;
    }

    .content-custom-close {
        padding: 0 !important;
    }

    .content-custom-open .overlay {
        display: unset;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.5);
    }

    .MuiDrawer-root.MuiDrawer-docked {
        box-shadow: none;
    }

    .text-field-custom {
        width: 340px !important;
    }
    .fixed-text-field-custom {
        width: 340px !important;
    }

    .calendar-div-custom {
        margin-top: -20px !important;
        width: 340px !important;
    }

    .select-fixed-txt {
        left: 0;
    }

    .new-select-custom >div {
        width: 340px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .main-div-custom.content-open {
        height: 100vh !important;
        margin-right: -250px !important;
        overflow: hidden !important;
    }

    .h1-custom {
        margin-left: 30px;
    }

    .new-select-custom >div {
        position: relative;
    }
}