body {
    font-family: 'Roboto Regular', arial !important;
    /* font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif !important; */
}

.content-open {
    margin-left: 250px !important;
}

.content-close {
    margin-left: 0 !important;
}

.header-title-custom {
    margin-left: 12px !important;
}

.main-div-custom {
    margin-top: 50px;
    padding: 16px !important;
}